// Import overrides of USWDS variables.
@import "_variables.scss";
// Import the USWDS source.
@import "../node_modules/uswds/src/stylesheets/uswds.scss";

h1, h2, h3, h4, h5, h6 {
    font-family: $font-sans;
    font-weight: bold;
}

.region-sidebar-second {
    float: right;

    background-color: $color-primary-alt-light;

    h4 {
        text-transform: uppercase;
        color: $color-gray-light;
        font-weight: normal;
    }

    padding: 3rem;
}

p {
    color: $color-gray;
}

.usa-nav-primary a.usa-nav-link {
    color: $color-focus; // $color-primary-alt
}

input {
    color: #000;
}
