// Import overrides of USWDS variables.
@import "_variables.scss";
// Import the USWDS source.
@import "../node_modules/uswds/src/stylesheets/uswds.scss";

h1, h2, h3, h4, h5, h6 {
    font-family: $font-sans;
    font-weight: bold;
}

.region-sidebar-first,
.region-sidebar-second {
    background-color: $color-primary-alt-light;
}

.region-sidebar-second {
    float: right;

    h4 {
        text-transform: uppercase;
        color: $color-gray-light;
        font-weight: normal;
    }

    padding: 1.25rem;
}

p,
input,
textarea,
.usa-sidenav-list a,
.usa-accordion,
.usa-accordion-bordered,
select.form-select {
    color: $color-gray;
}

.usa-nav-primary a.usa-nav-link {
    color: $color-focus; // $color-primary-alt
}

// Hide help text for text formats. See https://github.com/18F/nsf/issues/130.
.filter-wrapper {
    display: none;
}

// Override max-width that's throwing forms off
.usa-form-large {
    max-width: none;
}

form [type="submit"], form [type="submit"] {
    display: inline-block;
}

// Reduce the 'Revision log message' field (and others) to a reasonable size
textarea {
    height: auto;
}

label {
    margin-top: 1rem;
}

input, textarea, select {
    max-width: none;
    // @todo: find a happy medium. 46rem isn't appropriate, but something else
    // will be.
}