---
---

#main-content {
  font-family: Merriweather,Georgia,Cambria,Times New Roman,Times,serif;
}

.usa-footer {
  display: none;
}

.usa-layout-article-main_content {
  h1,
  h2 {
    max-width: 53rem;
  }

  h1 {
    margin-top: 0;
  }
}

.usa-header-basic {

  .usa-navbar {
    width: auto;
  }

  .usa-logo {
    bottom: auto;
    margin-top: 1rem;
    position: relative;

    span {
      bottom: 30px;
      display: inline-block;
      position: relative;
    }
  }
}

.usa-logo img {
  width: 75px;
}

.related-article-header {
  border-bottom: 3px solid #333;
  font-size: 1.7rem;
  margin-bottom: 2rem;
}
.related-articles {
  list-style: none;
  margin: 0;
  padding: 0;

  .related-article {
    position: relative;
    border-bottom: 1px solid #333;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    &:last-of-type {
      border-bottom:none;
    }
  }

  .related-article-img {
    position: absolute;
    top: 0;
    width: 80px;
  }

  .related-article-title {
    font-size: 1.7rem;
    margin: 0;
    margin-left: 100px;
  }

  .related-article-summary {
    font-size: 1.5rem;
    margin: 0;
    margin-left: 100px;
  }
}

.tags {
  margin:0;
  padding:0;
  .usa-label {
    display:inline-block;
    text-transform:none;
    background:#000;
  }
}

.option-1 aside h2 {
  color: #C64B00;
}
.option-1 {
  .image-caption {
  font-size: 1.4rem;
  margin-top:-2rem;
  padding-top: 0;
  }
  .color-grey {
    color: #999;
  }
  footer {
    hr {
      height: 3px;
      background-color: #333;
      border: none;
    }
    h2,h3
    {
    color: #C64B00;
    }
  }
  aside  {
    margin-top: 3.5rem;
  }
  .usa-layout-article-main_content {
    h2 {font-size: 2.3rem;}
  p {line-height: 1.75;}
  }
  .article-cat {
    margin-top: -4rem !important;
    display: block;
    margin-bottom: 5rem;
  }
}

.fa {
  font-size: 2.5rem !important;
  margin-right: 1rem;
  color: #666;
}
.option-1 {
  .fa {display:inherit;margin-bottom: 1rem;}
  .social-sharing {text-align: center;}
  .article-main-image {
    height: 400px;
    overflow: hidden;
    margin-top: -3rem;
    margin-bottom: 3rem;
  }
  .share-header {
    font-size: 1.5rem !important;
    text-align: center;
  }
  .related-articles {max-width: 100% !important;}
  .related-article {
    width: 45%;
    display:inline-block;
    border:none;
    vertical-align: top;
    margin-right: 3%;
  }
  .related-article:last-of-type {display:none;}
  .related-article-header {border: none;}
}
