---
layout: base
main:
  class: usa-section usa-content usa-layout-article option-1
---
<div class="usa-grid">
<div class="article-main-image">
<img src="{{site.baseurl}}/assets/images/{{page.main_image}}">
</div>
<div class="usa-width-one-sixth usa-layout-article-main_content">
<h2 class="share-header">Share this:</h2>
{% include social-sharing.html %}
</div>
<div class="usa-width-five-sixths usa-layout-article-main_content">
  {{ content }}
</div>
</div>
<aside>
<div class="usa-grid usa-section">
  {% if page.title contains 'Option' %}
  <h2 class="related-article-header">Related articles</h2>
  {% include related-article.html %}
  {% else %}
  {% include related-articles-ligo.html %}
  {% endif %}
</div>
</aside>
