{#
/**
 * @file
 * General markup for second sidebar.
 */
#}

<!-- @todo: Preprocess field__label instead of hardcoding field label and markup. -->

{% if node_field_publication_date %}
<h4>Published</h4>
    <!-- @todo: Preprocess to reformat into M j, Y -->
    <p>
        {{ node_field_publication_date[0] }}
    </p>
{% endif %}

<h4>Written By</h4>
    <p>
        Cheryl Dybas, NSF
    </p>

{% if node_field_media_queries %}
<h4>Media Queries</h4>
    <p>
        {{ node_field_media_queries[0] }}
    </p>
{% endif %}

{% if node_field_funding %}
<h4>Funding</h4>
    <p>
        {{ node_field_funding[0] }}
    </p>
{% endif %}

